<section>
    <div class="container" id="form">
        <div class="row justify-content-md-center">
    <label for="username">Nom d'utilisateur :</label>
        </div>
        <div class="row justify-content-md-center">
    <input id="username" class="form-control" [(ngModel)]="username" type="text"/>
        </div>
    
        <div class="row justify-content-md-center">
    <label for="mdp">Mot de passe :</label>
        </div>
        <div class="row justify-content-md-center">
    <input id="mdp" class="form-control" [(ngModel)]="password" type="password"/>
        </div>
    
        <div class="row justify-content-md-center">
    <label for="mdpConfirme">Confirmez votre mot de passe :</label>
        </div>
        <div class="row justify-content-md-center">
    <input id="mdpConfirme" class="form-control" type="password"/>
        </div>
    
        <div class="row justify-content-md-center">
    <label for="mail">Adresse mail</label>
        </div>
        <div class="row justify-content-md-center">
    <input id="mail" class="form-control" [(ngModel)]="email" type="text"/>
        </div>
    
        <div class="row justify-content-md-center" id ="button" >
    <button class="btn btn-success" (click)="onRegister()">S'inscrire</button>
        </div>
    
    </div>
    </section>
