<div class="container">
    <div class="row">
    <section>
        <div class="col-xs-12">
            <div>
            <h2>Pseudo joueur</h2>
            <label for="nomPerso">Nom :</label>
            <input id="nomPerso" type="text"/>
            </div>
            
            <div id="select">
            <select>
                <option *ngFor="let classe of classes" [value]="classe">{{classe}}</option>
            </select>
            
            <select>
                <option *ngFor="let equipement of equipements" [value]="equipement">{{equipement}}</option>
            </select>
            </div>
            <div id="button">
                <button class="btn btn-dark" (click)="onCreateFinish()"><i class="fa fa-plus"
                    aria-hidden="true"></i> Creer</button>
                
            </div>
        </div>
    </section>
    </div>
</div>
