<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Pseudo joueur</h2>
            <label for="nomPerso">Nom :</label>
            <input id="nomPerso" type="text"/>

            <br/>

            <select>
                <option *ngFor="let classe of classes" [value]="classe">{{classe}}</option>
            </select>
            <br/>
            <select>
                <option *ngFor="let equipement of equipements" [value]="equipement">{{equipement}}</option>
            </select>
            <br/>
            <button class="btn-success" (click)="onCreateFinish()">Creer</button>
        </div>
    </div>
</div>
