section{
    
    margin-top: 15%;
    padding-top: 2%;
  text-align: center;
      //-webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      //padding: 30px;
      margin-left: 12.5%;
      width: 75%;
      //max-width: 450px;
      //position: relative;
      //padding: 0px;
      //-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
      //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
div#button{
    padding-top: 2%;
    padding-bottom: 2%;
}
div#select{
    padding-top: 2%;
    padding-bottom: 2%;
}