<div class="container">
    <div class="row">
        <section>

        <div class="col-xs-12">
            
            <h2>Pseudo joueur</h2>
            
            <div class="d-grid gap-2" >
                <app-characters *ngFor="let character of characters"
                    [nom]="character.nom"
                    [classe]="character.classe">
                </app-characters>
            </div>
            <div class="text-center">
            <button class="btn btn-dark" (click)="onCreate()"><i class="fa fa-plus"
                aria-hidden="true"></i> Creer</button>
            </div>
        </div>
    </section>
    </div>
</div>